In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from fbprophet import Prophet

In [3]:
df = pd.read_excel('output.xlsx', index_col=None)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [4]:
df.columns = ['ds', 'y']

In [5]:
test_set_size = int(np.round(0.2*df.shape[0]));
train_set_size = df.shape[0] - (test_set_size);

In [8]:
df

                       ds       y
0     2018-09-02 01:00:00  225.18
1     2018-09-02 02:00:00  211.95
2     2018-09-02 03:00:00  203.00
3     2018-09-02 04:00:00  201.00
4     2018-09-02 05:00:00  200.42
...                   ...     ...
17537 2020-09-01 20:00:00  328.56
17538 2020-09-01 21:00:00  320.25
17539 2020-09-01 22:00:00  262.81
17540 2020-09-01 23:00:00  257.94
17541 2020-09-02 00:00:00  238.04

[17542 rows x 2 columns]

In [9]:
model = Prophet()
model.fit(df)

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

In [13]:
future = model.make_future_dataframe(periods = 24, freq='H')

In [14]:
forecast = model.predict(future)

In [15]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

                       ds        yhat  yhat_lower  yhat_upper
17561 2020-09-02 20:00:00  268.984457  228.217606  311.294285
17562 2020-09-02 21:00:00  261.594894  217.885505  307.005164
17563 2020-09-02 22:00:00  247.252220  204.415586  285.053910
17564 2020-09-02 23:00:00  231.443836  185.323264  277.763397
17565 2020-09-03 00:00:00  219.128654  172.440223  261.924487

In [12]:
df.tail(10)

                       ds       y
17532 2020-09-01 15:00:00  265.60
17533 2020-09-01 16:00:00  265.87
17534 2020-09-01 17:00:00  261.00
17535 2020-09-01 18:00:00  282.70
17536 2020-09-01 19:00:00  302.00
17537 2020-09-01 20:00:00  328.56
17538 2020-09-01 21:00:00  320.25
17539 2020-09-01 22:00:00  262.81
17540 2020-09-01 23:00:00  257.94
17541 2020-09-02 00:00:00  238.04

In [ ]:
fig1 = model.plot(forecast)