In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
from fbprophet import Prophet

Prophet 0.6

In [75]:
df = pd.read_excel('output.xlsx', index_col=None)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [76]:
df.columns = ['ds', 'y']

In [77]:
test_set_size = int(np.round(0.2*df.shape[0]));
train_set_size = df.shape[0] - (test_set_size);

In [85]:
df

                      ds       y
0    2019-09-02 01:00:00  226.53
1    2019-09-02 02:00:00  224.06
2    2019-09-02 03:00:00  220.54
3    2019-09-02 04:00:00  221.04
4    2019-09-02 05:00:00  225.20
...                  ...     ...
8802 2020-09-02 20:00:00  317.00
8803 2020-09-02 21:00:00  316.81
8804 2020-09-02 22:00:00  256.52
8805 2020-09-02 23:00:00  240.79
8806 2020-09-03 00:00:00  211.03

[8807 rows x 2 columns]

In [80]:
train = df[:train_set_size]
test = df[train_set_size:]

In [82]:
test

                      ds       y
7046 2020-06-21 16:00:00  195.10
7047 2020-06-21 17:00:00  188.13
7048 2020-06-21 18:00:00  186.62
7049 2020-06-21 19:00:00  191.15
7050 2020-06-21 20:00:00  195.00
...                  ...     ...
8802 2020-09-02 20:00:00  317.00
8803 2020-09-02 21:00:00  316.81
8804 2020-09-02 22:00:00  256.52
8805 2020-09-02 23:00:00  240.79
8806 2020-09-03 00:00:00  211.03

[1761 rows x 2 columns]

In [84]:
model = Prophet()
model.fit(df)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

C:\Users\Przem\Anaconda3\lib\site-packages\fbprophet\forecaster.py:1080: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if ('ds' not in df) or ('y' not in df):

ValueError: Dataframe must have columns "ds" and "y" with the dates and values respectively.